<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="optlySDKConfigSection"
             type="OptimizelySDK.OptimizelySDKConfigSection, OptimizelySDK, Version=3.2.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>

  <optlySDKConfigSection>

    <HttpProjectConfig sdkKey="43214321"
                       url="www.testurl.com"
                       format="https://cdn.optimizely.com/data/{0}.json"
                       pollingInterval="2000"
                       blockingTimeOutPeriod="10000"
                       datafileAccessToken="testingtoken123"
                       autoUpdate="true"
                       defaultStart="true">
    </HttpProjectConfig>

    <BatchEventProcessor batchSize="10"
                         flushInterval="2000"
                         timeoutInterval="10000"
                         defaultStart="true">
    </BatchEventProcessor>

  </optlySDKConfigSection>
</configuration>
